* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body {
    min-height: 100%;
}
body{
    margin:  0;
    padding: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body{
    border: 25px solid #2B81AC;
    background-color: #3399CC;
    color: #fff;
}

header h1, i{
    font-size: 30px;
}

h3{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
}

.ba-container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 20px;
}

.ba-cities-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}
.ba-city{
    border: 3px solid #fff;
    background-color: #33cccc;
    width: 25%;
    text-align: center
}
.ba-cities-list li{
    text-align: center;
    display: inline-block;
    padding: 30px 10px;
    border: 3px solid #fff;
    font-size: 26px;
}
.ba-city .wi {
    font-size:  40px;
}
.ba-cities-list li .ba-temp, .ba-cities-list li .wi{
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.7);
}
.ba-cities-list:hover > li {
    opacity: .6;
}
.ba-cities-list li:hover{
    opacity: 1;
}
.ba-cities-list li:active{
    background: #fff;
}
.ba-city h3{
    font-size: 26px;
    margin-bottom: 15px;
}
.ba-w50{
    width: 50%;
}
.ba-w100{
    width: 100%;
}
.ba-lisbon{
    background-color: 
}

.lisbon{
    background-color: #3399cc;
}
.paris{
    background-color: #33cccc;
}
.belgrade{
    background-color: #996699;
}
.moscow{
    background-color: #c24747;
}
.tel-aviv{
    background-color: #e2674a;
}
.cair{
    background-color: #ffcc66;
}
.new-york{
    background-color: #99cc99;
}
.new-delhi{
    background-color: #669999;
}
.san-francisco{
    background-color: #cc6699;
}
.tokyo{
    background-color: #339966;
}
.sydney{
    background-color: #666699;
}

.ba-footer {
    padding: 30px 0;
    color: #ffffff;
    font-size:  22px;
}
